@import "tailwindcss";

/* Force the Midnight Theme */
:root {
  --background: #020617; 
  --foreground: #ffffff;
}

@theme {
  --color-brand-dark: #020617;
  --color-brand-card: #0b1120;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
}